# Ignore large posterior samples
beh_modeling/results/posterior_learning_model.rds

# R session files
.Rhistory
.RData

.DS_Store

# Ignore data prep script
scripts/data_prep/

# Ignore TMS visualization
tms_visualization/


