# Ignore large posterior samples
beh_modeling/results/posterior_learning_model.rds

# R session files
.Rhistory
.RData

.DS_Store

# Ignore coordinate scripts
scripts/data_prep/get_coordinates/

# Ignore TMS visualization
tms_visualization/


